@page
@model CityWasp.ViewModel
@{
    ViewData["Title"] = "View";
}

<h1>Kelionė</h1>

<form method="post" name="4">
    <input type="submit" asp-page-handler="ClosestCars" value="Artimiausi automobiliai" class="btn btn-primary" />
</form>

<div>
    <h2>Pradėti kelionę</h2>
    @if (Model.CarRezCount > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].manufacturer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].coordinates)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].mileage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].techincal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].currentValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].state)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.CarRez)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.coordinates)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mileage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.techincal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.currentValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.state)
                        </td>
                        <td>
                            <form method="post" name="1">
                                <input type="hidden" asp-for="@item.id" />
                                <input type="submit" asp-route-id="@item.id" asp-page-handler="StartTrip" value="Pradeti kelione" class="btn btn-primary" />
                            </form>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5>Rezervuotų automobilių nėra</h5>
    }
</div>
<div>
    <h2>Rezervuoti automobilį</h2>
    @if (Model.CarCount > 0)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].model)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].manufacturer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].coordinates)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].mileage)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].techincal)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].currentValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Car[0].state)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Car)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.manufacturer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.coordinates)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.mileage)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.techincal)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.value)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.currentValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.state)
                        </td>
                        <td>
                            @if (!item.state.Equals(CityWasp.Models.Car.CarState.Rezerved))
                            {
                                @if (!item.state.Equals(CityWasp.Models.Car.CarState.InUse))
                                {
                                    <form method="post" name="2">
                                        <input type="hidden" asp-for="@item.id" />
                                        <input type="submit" asp-route-id="@item.id" asp-page-handler="ReserveCar" name="reserveCar" value="Rezervuoti" class="btn btn-primary" />
                                    </form>
                                }
                            }
                            @if (item.state.Equals(CityWasp.Models.Car.CarState.Rezerved) || item.state.Equals(CityWasp.Models.Car.CarState.InUse))
                            {

                                <a asp-page="./ReservationView" name="openCarReservationView" asp-route-id="@item.id">Peržiūrėti savo rezervuotą automobilį</a>
                            }


                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h5>Automobilių nėra</h5>
    }
</div>